
<%- include('../partials/header1.ejs') %>

</section> 
<!-- Navigation Section - Ends here -->

 
<!-- Form Section Starts here -->
<form action="/tests/confirm-delete" method="POST">
    
    <!-- Requirement ID Section -->
    <section class="heading mt-4">

           <div class="container mx-auto form-inline" style="width: 500px; text-align: center; padding-left:5%;">
               <h3 class="form-group mb-2">Test ID # 
                   <em> 
                       <input type="text" class="form-group mx-sm-3 form-control-plaintext" name="testId" value="<%= testId %>" readonly> 
                   </em> 
               </h3>
               <hr class="style-two" >
           </div>
    
    <!-- Form Button Section  -->
    <section class="func-buttons mb-4">
           <div class="container">
               <div class="row">
                   <div class="col-md-12">
                       <div class="form-group float-end">
                           <% if(username === "Sam" || username === "Anmol"){%>
                               <button type="submit" class="btn btn-warning text-white mb-0 me-0"> Confirm Delete </button>
                           <%}%>
                           <a href="/tests/test-dashboard/1" class="btn btn-danger text-white mb-0 me-0" style="width: 100px">Cancel</a>
                       </div>
                   </div>
               </div>
               <hr style="border: 1px solid #007BFF">
           </div>
        </section>
   <!-- Form Button Section Ends Here  -->
   </section>
   <!-- Requirement ID Section Ends Here -->



   <!-- Section 1 - contains information about Communication & rates -->
  <section class="interview-details mt-4 mb-4"> 
      <div class="container">
          <div  class="section-heading">
              <h3><i class="far fa-hand-point-down"></i> 1. Test Details </h3>
          </div>
          <hr class="style-two">
      </div>
      
      <div class="container section-content">
          
          <!-- Row 1 - Contains status and next Step -->
          <div class="row">
              <!-- column 1 -->
              <div class="col-md-3">
                  <div class="form-group">
                     <label for="date">1.1 Test Entered Date</label>
                      <input type="date" class="form-control" name="testEnteredDate" value="<%= testEnteredDate %>" readonly>
                  </div>
              </div>
              <!-- column 2 -->
              <div class="col-md-3">
                  <div class="form-group">
                      <label for="testDuration">1.2 Test Duration</label>
                      <input type="text" class="form-control" name="testDuration" value="<%= testDuration %>" readonly>
                  </div>    
              </div>
      
              <div class="col-md-3">
                  <div class="form-group">
                     <label for="date">1.1 Test Completion Date</label>
                      <input type="date" class="form-control" name="testCompletionDate" value="<%= testCompletionDate %>" readonly>
                  </div>
              </div>

              <div class="col-md-3">
                  <div class="form-group">
                    <label for="testStatus">1.4 Test Status</label>
                    <p class="form-control view-p">
                        <%= testStatus %>
                    </p> 
                  </div>
              </div>

          </div>
            <!-- Row 1 Ends Here -->

          <!-- Row 3 Marketing persons comments -->

          <div class="row">

              <div class="col-md-3">
                  <div class="form-group">
                      <label for="consultant">1.5 Consultant</label>
                      <input type="text" name="consultant" class="form-control" value="<%= consultant %>" readonly>
                  </div>
              </div>

              <div class="col-md-3">
                  <div class="form-group">
                      <label for="marketing-person">1.6 Maketing Person</label>
                      <input type="text" name="marketingPerson" class="form-control" value="<%= marketingPerson %>" readonly>
                  </div>
              </div>

              <div class="col-md-3">
                  <div class="form-group">
                      <label for="vendor-company">1.7 Vendor Company</label>
                      <input type="text" name="vendorCompany" class="form-control" value="<%= vendorCompany %>" readonly>
                  </div>
              </div>

              <div class="col-md-3">
                  <div class="form-group">
                      <label for="prime-vendor-company">1.8 Prime Vendor Company</label>
                      <input type="text" name="primeVendorCompany" class="form-control" value="<%= primeVendorCompany %>" readonly>
                  </div>
              </div>

          </div>

          <div class="row">
              <div class="col-md-4">
                  <div class="form-group">
                      <label for="github">1.9 Submitted Test Via Github(if Yes Enter the Link)</label>
                      <input type="text" class="form-control" name="gitHubLink" value="<%= gitHubLink %>" readonly>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="form-group">
                      <label for="code">1.10 Submitted Test via other Medium(if Yes Enter the Link)</label>
                      <input type="text" class="form-control" name="codeLink" value="<%= codeLink %>" readonly>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="form-group">
                      <label for="code">1.11 Result </label>
                     <p class="form-control view-p">
                         <%= result %>
                     </p>
                  </div>
              </div>
          </div>

      </div>
  </section>
  
  <!-- Section 1 Ends Here -->


  <!-- Section 2 -- Contain information about Clients -->

  <section class="interview-info mt-4 mb-4">

      <div class="container">
          <div class="section-heading">
              <h3><i class="far fa-hand-point-down"></i> 2. Details of Test</h3>
          </div>
          <hr class="style-two">
      </div>


      <div class="container section-content">
          <!-- Row-1 information about client -->
          <div class="row">
              
              <div class="col-md-12">
                  <div class="form-group">
                      <label for="subjectLine">2.1 Subject line (Enter Duration + Mode Of Test )</label>
                      <input type="text" name="subjectLine" class="form-control" value="<%= subjectLine %>" readonly>
                  </div>
              </div>

          </div>
          <!-- Row-1 Ends Here -->

          <div class="row">

              <div class="col-md-12">
                  <div class="form-group">
                      <label for="testDetails">2.2 Test Details</label>
                      <p class="form-control text-area-commentview">
                          <%= testDetails %>
                      </p>
                  </div>
              </div>

          </div>

          <div class="row">

              <div class="col-md-12">
                  <div class="form-group">
                      <label for="Test Focus">2.3 Test Focus</label>
                      <p class="form-control view-p">
                          <%= testFocus %>
                      </p>
                  </div>
              </div>

          </div>

          <div class="row">

              <div class="col-md-12">
                  <div class="form-group">
                      <label for="jobDescription">2.4 Job Description</label>
                      <p class="form-control text-area-view">
                          <%= jobDescription %>
                      </p>
                  </div>
              </div>

          </div>

      </div>
  
  </section>

  <!-- Section 2 Ends Here -->

  <!-- Section 3 -- Contain information about Prime Vendors -->

   <section class="Feedback mt-4 mb-4">
      <div class="container">
          <div class="section-heading">
              <h3><i class="far fa-hand-point-down"></i> 3. Test Feedback</h3>
          </div>
          <hr class="style-two">
      </div>

          <div class="container section-content">
              
              <!-- Row-1 information about Feedbacks -->
              <div class="row">
                  
                  <div class="col-md-12">
                      <div class="form-group">
                          <label for="TestFeedback">3.1 Feedback</label>
                          <p class="form-control view-p">
                              <%= testFeedback %>
                          </p>
                      </div>

                  </div>
  
              </div>
              <!-- Row-1 Ends Here -->
              
              <!-- Row-2 Prime Vendor Contact information -->
              <div class="row">
                  
                  <div class="col-md-3">
                      <div class="form-group">
                          <label for="reqID">3.2 Req ID</label>
                          <a href="/requirements/viewReq/<%= reqID %>"> <input style="cursor: pointer; color: lightseagreen;" type="text" class="form-control" name="reqID" value="<%= reqID %>" disabled></a>
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="form-group">
                          <label for="clientName">3.3 Client Name</label>
                          <input type="text" class="form-control" name="clientName" value="<%= clientName %>" readonly>
                      </div>
                  </div>
  
                  <div class="col-md-3">
                      <div class="form-group">
                          <label for="taxType">3.4 Tax type</label>
                          <input type="text" name="taxType" class="form-control" value="<%= taxType %>" readonly>
                      </div>
                  </div>
  
                  <div class="col-md-3">
                      <div class="form-group">
                          <label for="duration">3.5 Duration</label>
                          <input type="text" name="duration" class="form-control" value="<%= duration %>" readonly>
                      </div>
                  </div>
  
              </div>
              <!-- Row-2 Ends Here -->
          </div>
      
      </section>

      <% if(username == 'Sam' || username == 'Anmol'){%>
      <section class="candiate-details mt-4 mb-4">

          <div class="container">
              <div class="section-heading">
                  <h3><i class="far fa-hand-point-down"></i> 4.Candidate details for Test</h3>
              </div>
              <hr class="style-two">
          </div>

          <div class="container section-content">

              <div class="row">

                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="candidateName">4.1 Candidate name </label>
                          <p class="form-control view-p">
                              <%= candidateName %>
                          </p>
                      </div>
                  </div>

                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="rateForTest">4.2 Rates for Test</label>
                          <p class="form-control view-p">
                              <%= rateForTest %>
                          </p>
                      </div>
                  </div>

                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="paymentStatus">4.3 Payment Status</label>
                          <p class="form-control view-p">
                              <%= paymentStatus %>
                          </p>
                      </div>
                  </div>

              </div>

          </div>

      </section>
      <%}%>
      <!-- Section 3 Ends Here  -->

      <div class="container">
          <hr style="border: 1px solid #007BFF">
          <div class=" float-start">
              <p> Created by <strong><%= recordOwner %></strong> on date <strong><%= createdAt.toLocaleDateString()%></strong> Time @ <strong><%= createdAt.toLocaleTimeString()%></strong></p>
          </div>
  
          <div class=" float-end">
              <em><p> Updated by <strong><%= updatedBy %></strong> on date <strong><%= updatedAt.toLocaleDateString()%></strong> Time @ <strong><%= updatedAt.toLocaleTimeString()%></strong></p></em>
          </div>
      </div>

  </form>

  <!-- Form Ends here -->


<%- include('../partials/footer1.ejs')%>
