<%- include('../partials/header1.ejs') %>


    <!-- Form Section Starts here -->
    <form action="/update-consultant/<%=consultant._id%>" method="POST">


        <!-- Requirement ID Section -->
        <section class="heading mt-4">

            <div class="container row mx-auto form-inline" style="width: 500px; text-align: center; padding-left:5%;">
                <h3 class="form-group mb-2">ConsultantID # <%= consultant.consultantId %></h3>
                <hr class="style-two">
            </div>


            <!-- Form Button Section  -->
            <section class="func-buttons mb-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group float-right">
                                <input type="text" class="form-control" name="consultantId" value="<%= consultant.consultantId%>" hidden>
                                <input type="text" class="form-control" name="createdBy" value="<%= consultant.createdBy%>"hidden>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group float-end">
                                <button type="submit" class="btn btn-primary text-white mb-0 me-0 submit-create-form"
                                    style="width: 100px">Save</button>
                                <a href="/view-consultant/<%=consultant._id%>" class="btn btn-danger text-white mb-0 me-0"
                                    type="button"></i>Back</a>

                                <!-- <a href ="/home/1" class="btn shadow rounded custom-button-3">Cancel</a> -->
                            </div>
                        </div>
                    </div>
                    <hr style="border: 1px solid #007BFF">
                </div>
            </section>
            <!-- Form Button Section Ends Here  -->

        </section>
        <!-- Requirement ID Section Ends Here -->


        <!-- Section 1 - contains information about Communication & rates -->
        <section class="communication mt-4 mb-4">
            <div class="container">
                <div class="section-heading">
                    <h3><i class="far fa-hand-point-down"></i> 1. Consultant Info</h3>
                </div>
                <hr class="style-two">
            </div>

            <div class="container section-content">

                <!-- Row 1 - Contains status and next Step -->
                <div class="row">
                    <!-- column 1 -->

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="consultantStatus">1.1 Consultant Status</label>
                            <select class="form-select" name="consultantStatus">
                                <option value="<%= consultant.consultantStatus%>"><%= consultant.consultantStatus%></option>
                                <option value="Active"> Active</option>
                                <option value="Not Active">Not Active</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="nextStep">1.2 Consultant Name</label>
                            <input type="text" class="form-control" placeholder="Name" name="consultantName" value="<%= consultant.consultantName%>">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="assignedTo">1.3 Visa Status</label>
                            <select class="form-select" name="visaStatus" id="exampleFormControlSelect1">
                                <option value="<%= consultant.visaStatus%>"><%= consultant.visaStatus%></option>
                                <% visaStatus.forEach((visa, i) =>{%>
                                    <option value="<%=visa%>"> <%=i+1%>. <%=visa%></option>
                                <%})%>
                            </select>
                        </div>
                    </div>

                    <!-- column 2 -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="nextStep">1.4 Date of Birth</label>
                            <% if(consultant.dob){%>
                            <input type="date" class="form-control" name="dob" max="2005-12-31" value="<%= consultant.dob.toISOString().split('T')[0]%>">
                            <%} else {%>
                            <input type="date" class="form-control" name="dob" max="2005-12-31" value="">
                            <%}%>
                        </div>
                    </div>

                </div>
                <!-- Row 1 Ends Here -->

                <!-- Row 2 - Contains information about tax term and Remote -->
                <div class="row">
                    
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Address">1.5 Current Address</label>
                            <input type="text" name="currentAddress" class="form-control" placeholder="Address" value="<%= consultant.currentAddress%>">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Address">1.6 Previous Address</label>
                            <input type="text" name="previousAddress" class="form-control" placeholder="Address" value="<%= consultant.previousAddress%>">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Address">1.14 Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Email" value="<%=consultant.email%>">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Address">1.15 Phone</label>
                            <input type="text" name="phone" class="form-control" placeholder="Phone" value="<%=consultant.phone%>">
                        </div>
                    </div>

                </div>
                <!-- ROW 2 Ends Here -->

                <!-- Row 3 Marketing persons comments -->

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="timeZone">1.7 Consultant Timezone</label>
                            <select class="form-select" name="timeZone" id="exampleFormControlSelect1">
                                <option value="<%= consultant.timeZone%>"><%= consultant.timeZone%></option>
                                <% timeZone.forEach((time, i) =>{%>
                                    <option value="<%=time%>"> <%=i+1%>. <%=time%></option>
                                <%})%>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="degree">1.8 Degree Name</label>
                            <input type="text" name="degree" class="form-control" placeholder="Degree name" value="<%= consultant.degree%>">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="university">1.9 University</label>
                            <input type="text" name="university" class="form-control" placeholder="university" value="<%= consultant.university%>">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="yearPassing">1.10 Year of Passing</label>
                            <input type="text" name="yearPassing" class="form-control" placeholder="Year of Passing" value="<%= consultant.yearPassing%>">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="SSN">1.11 SSN</label>
                            <input type="text" name="ssn" class="form-control" placeholder="Enter ssn" value="<%= consultant.ssn%>">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="dlno">1.12 Driving License</label>
                            <input type="text" name="dlNo" class="form-control" placeholder="Enter DL No." value="<%= consultant.dlNo%>">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="psuedoName">1.13 Psuedo Name of Consultant</label>
                            <input type="text" name="psuedoName" class="form-control" placeholder="Enter Psuedo Name" value="<%= consultant.psuedoName%>">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="SkypeID">1.16 SkypeId</label>
                            <input type="text" name="skypeId" class="form-control" value="<%= consultant.skypeId%>">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="SSN">1.17 How did you get the VISA?</label>
                            <input type="text" name="getVisa" class="form-control" value="<%= consultant.getVisa%>">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="dlno">1.18 In which year you came to US?</label>
                            <input type="text" name="cameToUsYear" class="form-control" value="<%= consultant.cameToUsYear%>">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="psuedoName">1.19 Basicly from which country?</label>
                            <input type="text" name="originCountry" class="form-control" value="<%= consultant.originCountry%>">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="SkypeID">1.20 Why are you looking for the change?</label>
                            <input type="text" name="lookingToChange" class="form-control" value="<%= consultant.lookingToChange%>">
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- Section 1 Ends Here -->

        <section class="communication mt-4 mb-4">
            <div class="container">
                <div class="section-heading">

                    <h3><i class="far fa-hand-point-down"></i> 2. Resume Info</h3>
                </div>
                <hr class="style-two">
            </div>

            <div class="container section-content">
                <% projects.forEach((project,i) =>{ %>

                    <div class="row">
                        <div class="col-md-12">
                            <h4>PROJECT <%=i+1%>
                            </h4>
                            <hr style="width: 10% ;">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ProjectName"> Project Name</label>
                                <input type="text" name="projectName" class="form-control"
                                    placeholder="Enter Project name" value="<%=project.name%>">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ProjectState"> Project City</label>
                                <input type="text" name="projectCity" class="form-control"
                                    placeholder="Enter Project City" value="<%=project.city%>">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ProjectState"> Project State</label>
                                <input type="text" name="projectState" class="form-control"
                                    placeholder="Enter Project state" value="<%=project.state%>">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="projectStartDate"> Project Start Date</label>
                                <input type="text" name="projectStartDate" class="form-control"
                                    placeholder="Enter Start Date" value="<%=project.startDate%>">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="projectEndDate"> Project End Date</label>
                                <input type="text" name="projectEndDate" class="form-control"
                                    placeholder="Enter End Date" value="<%=project.endDate%>">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="projectDescrption"> Project Description</label>
                                <textarea class="form-control text-area-comment" name="projectDescription"><%= project.description%></textarea>
                            </div>
                        </div>
                    </div>
                    <%})%>
                    <hr style="border: 1px solid #007BFF;">
            </div>

        </section>

    </form>
    </div>
    </div>


    <%- include('../partials/footer1.ejs')%>