<%- include('../partials/header1.ejs') %>


<div class="container-scroller">

  <%- include('../partials/nav.ejs') %>

  <div class="container-fluid page-body-wrapper">

  <%- include('../partials/sidebar1.ejs') %>

    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <%- include('../partials/main-panel-start.ejs') %>

      <div class="card-body">
        <div class="d-sm-flex justify-content-between align-items-start">
          <div>
            <h4 class="card-title card-title-dash">All Interviews</h4>
            <p class="card-subtitle card-subtitle-dash">All Interviews</p>
          </div>
          <div>
            <a href="/interviews/get-interview-details" class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"><i class="mdi mdi-account-plus"></i>Add new</a>
            <a href="/exportInterviewData/" class="btn btn-info btn-lg text-white mb-0 me-0" type="button"><i class="mdi mdi-table"></i>Export Page</a>

          </div>
        </div>
        <div class="table-responsive  mt-1">
          <table id="order-listing" class="table dataTable no-footer table-striped table-hover">
            <thead>
              <tr>
                <th>View</th>
                <th>Int ID</th>
                <th>Int Status</th>
                <th>Consultant</th>
                <th>Int date</th>
                <th>Int Time (EST)</th>
                <th>Int Result </th>
                <th>Subject Line</th>
                <th>Client Name</th>
                <th>Job Title</th>
                <% if(role === "Admin" || role === "SuperAdmin"){ %>
                <th>Interviewee</th>
                <%}%>
                  <th>Created by</th>
                  <th>Created At</th>
                </tr>
              </thead>
  
              
              <tbody class="table-body">
                
              <% interviews.forEach(interview=>{ %>
              <tr onclick="window.location='/interviews/view-interviews/<%= interview.intId %>'" class="row-style">
                <td>
                  <a class="btn btn-primary text-white" href="/interviews/view-interviews/<%= interview.intId %>">View</a>
                </td>
                <td>
                  <%= interview.intId %>
                </td>
                <td class="changeColor">
                  <%if (interview.interviewStatus === 'Interview Confirm'){%>
                    <label class="badge badge-success"><%= interview.interviewStatus %></label>
                  <%} else if(interview.interviewStatus === 'Interview Tentative'){%>
                    <label class="badge badge-warning"><%= interview.interviewStatus %></label>
                  <%} else if(interview.interviewStatus === 'Interview Completed'){%>
                    <label class="badge badge-primary"><%= interview.interviewStatus %></label>
                  <%} else {%>
                    <label class="badge badge-danger"><%= interview.interviewStatus %></label>
                  <%}%>
                </td>
                <td style="color: red;"> <strong>
                    <%= interview.consultant %>
                  </strong> </td>
                <td>
                  <%= interview.interviewDate %>
                </td>
                <td> <strong>
                    <%= interview.interviewTime.slice(0,12) %>
                  </strong></td>
                <td> <strong>
                    <%= interview.result %>
                  </strong> </td>
                <td>
                  <div style="width: 300px; white-space:normal;">
                    <%= interview.subjectLine.slice(0,20) %>
                  </div>
                </td>
                <td>
                  <%= interview.clientName.slice(0,20) %>
                </td>
                <% if(interview.jobTitle == undefined) {%>
                <td> <strong>
                    <%= interview.jobTitle %>
                  </strong> </td>
                <%} else {%>
                <td> <strong>
                    <%= interview.jobTitle.slice(0,20) %>
                  </strong> </td>
                <%}%>
                <% if(role === "Admin" || role === "SuperAdmin"){ %>
                <td style="color:#fc6c85;">
                  <label class="badge badge-danger">
                    <strong>
                      <%= interview.candidateName %>
                    </strong>
                  </label>
                </td>
                <%}%>
                <td>
                  <%= interview.recordOwner %>
                </td>
                <td id="date-field">
                  <%= interview.createdAt.toLocaleString(); %>
                </td>
              </tr>
              <%});%>                        
            </tbody>
          </table>
        </div>
      </div>

    <%- include('../partials/main-panel-end.ejs') %>

    <%- include('../partials/footer1.ejs')%>