<%- include('../partials/header1.ejs') %>

<!-- Form Section Starts here -->
<form action="/interviews/post-create-interview" method="POST">


    <!-- Requirement ID Section -->
    <section class="heading mt-4 mb-4">

        <div class="container mx-auto form-inline" style="width: 500px; text-align: center">
            <h3 class="form-group mb-2">Interview ID # <%= intId %>
            </h3>
            <hr class="style-two">
            <input type="text" name="intId" value="<%= intId %>" hidden>
            <input type="text" name="recordId" value="<%= recordId %>" hidden>
        </div>
    </section>
    <!-- Requirement ID Section Ends Here -->

    <!-- Section 1 - contains information about Communication & rates -->
    <section class="interview-details mt-4 mb-4">
        <div class="container">
            <div class="section-heading">
                <h3><i class="far fa-hand-point-down"></i> 1. Interview Details </h3>
            </div>
            <hr class="style-two">
        </div>

        <div class="container section-content">

            <!-- Row 1 - Contains status and next Step -->
            <div class="row">
                <!-- column 1 -->
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="date">1.1 Interview Date</label>
                        <input type="date" class="form-control" name="interviewDate" placeholder="Select Date" required>
                    </div>
                </div>
                <!-- column 2 -->
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="nextStep">1.2 Interview Time</label>
                        <input type="time" class="form-control" placeholder="Enter interview Time" name="interviewTime"
                            required>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="rate">1.3 Interview Type </label>
                        <select name="interviewType" class="form-select" required>
                            <option value="" selected></option>
                            <option value="Technical"> Technical </option>
                            <option value="Techno Managerial">Techno Managerial</option>
                            <option value="Non Technical">Non Technical</option>
                            <option value="Prep Call">Prep Call</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="interviewStatus">1.4 Interview Status</label>
                        <select class="form-select" name="interviewStatus" required>
                            <option value="" selected></option>
                            <option value="Interview Confirm">Interview Confirm</option>
                            <option value="Interview Tentative">Interview Tentative</option>
                            <option value="Interview Cancelled">Interview Cancelled</option>
                            <option value="Interview Completed">Interview Completed</option>
                            <option value="Interview Re-Scheduled">Interview Re-Scheduled</option>
                        </select>
                    </div>
                </div>

            </div>
            <!-- Row 1 Ends Here -->

            <!-- Row 3 Marketing persons comments -->

            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="consultant">1.5 Consultant</label>
                        <input type="text" name="consultant" class="form-control" value="<%= consultant %>" readonly>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="marketing-person">1.6 Maketing Person</label>
                        <input type="text" name="marketingPerson" class="form-control"
                            placeholder="Enter Marketing person Name" value="<%=marketingPerson%>" readonly>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="vendor-company">1.7 Vendor Company</label>
                        <input type="text" name="vendorCompany" class="form-control" value="<%= vendorCompany %>"
                            readonly>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="prime-vendor-company">1.8 Prime Vendor Company</label>
                        <input type="text" name="primeVendorCompany" class="form-control"
                            value="<%= primeVendorCompany %>" readonly>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="github">1.9 Submitted Github(if Yes Enter the Link)</label>
                        <input type="text" class="form-control" name="gitHubLink" placeholder="Enter GitHub link">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="code">1.10 Submitted Any Code(if Yes Enter the Link)</label>
                        <input type="text" class="form-control" name="codeLink" placeholder="Enter Code link">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="code">1.11 Result </label>
                        <select name="result" class="form-select">
                            <option value="" selected></option>
                            <option value="Offer">Offer</option>
                            <option value="Negative">Negative</option>
                            <option value="Positive">Positive</option>
                            <option value="No Feedback Yet">No Feedback Yet</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="interviewRound">1.12 Interview Round </label>
                        <select name="interviewRound" class="form-select" required>
                            <option value="" selected></option>
                            <option value="Round 1">Round 1</option>
                            <option value="Round 2">Round 2</option>
                            <option value="Round 3">Round 3</option>
                            <option value="Round 4">Round 4</option>
                            <option value="Final Round">Final Round</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 form-group">
                    <label for="tentativeReason">1.13 Tentative Reason (if Any)</label>
                    <input type="text" class="form-control" name="tentativeReason" placeholder="Enter Tentative Reason">
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="interviewMode">1.14 Interview Mode </label>
                        <select name="interviewMode" class="form-select" required>
                            <option value="" selected></option>
                            <option value="Not confirmed">Not confirmed</option>
                            <option value="Phone">Phone</option>
                            <option value="Video">Video</option>
                            <option value="Video + Coding">Video + Coding</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="meetingType">1.15 Meeting type </label>
                        <select name="meetingType" class="form-select" required>
                            <option value="" selected></option>
                            <option value="Google Meet">Google Meet</option>
                            <option value="Zoom">Zoom</option>
                            <option value="Microsoft Teams">Microsoft Teams</option>
                            <option value="Webex">Webex</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="interviewDuration">1.16 Interview Duration </label>
                    <select name="interviewDuration" class="form-select" required>
                        <option value="" selected></option>
                        <option value="15 min">15 min</option>
                        <option value="30 min">30 min</option>
                        <option value="45 min">45 min</option>
                        <option value="1 Hour">1 Hour</option>
                        <option value="2 Hour">2 Hour</option>
                        <option value="3 Hour">3 Hour</option>
                    </select>
                </div>
            </div>

        </div>
    </section>

    <!-- Section 1 Ends Here -->


    <!-- Section 2 -- Contain information about Clients -->

    <section class="interview-info mt-4 mb-4">

        <div class="container">
            <div class="section-heading">
                <h3><i class="far fa-hand-point-down"></i> 2. Details of Interview</h3>
            </div>
            <hr class="style-two">
        </div>


        <div class="container section-content">
            <!-- Row-1 information about client -->
            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="subjectLine">2.1 Subject line (Enter Duration + Mode Of Interview + Interview With
                            only)</label>
                        <input type="text" name="subjectLine" class="form-control"
                            placeholder="Subject line for interview" readonly>
                    </div>
                </div>

            </div>
            <!-- Row-1 Ends Here -->

            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="interviewMode">2.2 Interview / interviewer / Interview Mode Details</label>
                        <textarea name="interviewMode" class="form-control text-area-comment"></textarea>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="interviewMode">2.9 Interview Link </label>
                        <input type="url" name="interviewLink" id=""class="form-control"placeholder="Enter the Tech Focus">
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="interview Focus">2.3 Interview Focus</label>
                        <input type="text" name="interviewFocus" class="form-control"
                            placeholder="Enter the Tech Focus">
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="jobDescription">2.4 Job Description</label>
                        <textarea name="jobDescription" class="form-control text-area-create"><%= jobDescription %></textarea>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <!-- Section 2 Ends Here -->

    <!-- Section 3 -- Contain information about Prime Vendors -->

    <section class="Feedback mt-4 mb-4">
        <div class="container">
            <div class="section-heading">
                <h3><i class="far fa-hand-point-down"></i> 3. Interview Feedback</h3>
            </div>
            <hr class="style-two">
        </div>

        <div class="container section-content">

            <!-- Row-1 information about Feedbacks -->
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="primeVendor-name">3.1 Feedback</label>
                        <textarea name="interviewFeedback" class="form-control text-area-comment"></textarea>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="primeVendor-name">3.1 Job Title</label>
                        <input type="text" name="jobTitle" class="form-control" value="<%= jobTitle %>" readonly>
                    </div>

                </div>

            </div>
            <!-- Row-1 Ends Here -->

            <!-- Row-2 Prime Vendor Contact information -->
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="reqID">3.2 Req ID</label>
                        <input type="text" class="form-control" name="reqID" value="<%= reqID %>" readonly>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="clientName">3.3 Client Name</label>
                        <input type="text" class="form-control" name="clientName" value="<%= clientName %>" readonly>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="taxType">3.4 Tax type</label>
                        <input type="text" name="taxType" class="form-control" value="<%= taxType %>" readonly>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="duration">3.5 Duration</label>
                        <input type="text" name="duration" class="form-control" value="<%= duration %>" readonly>
                    </div>
                </div>

            </div>
            <!-- Row-2 Ends Here -->
        </div>

    </section>

    <% if(role === "Admin" || role === "SuperAdmin"){%>
    <section class="candiate-details mt-4 mb-4">

        <div class="container">
            <div class="section-heading">
                <h3><i class="far fa-hand-point-down"></i> 4. Interviewee Candidate details</h3>
            </div>
            <hr class="style-two">
        </div>

        <div class="container section-content">

            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="candidateName">4.1 Candidate name </label>
                        <input type="text" name="candidateName" class="form-control"
                            placeholder="Enter Candidates name">
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="rateForInterview">4.2 Rates for Interview</label>
                        <input type="text" name="rateForInterview" class="form-control" placeholder="Enter Rates">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="paymentStatus">4.3 Payment Status</label>
                        <select name="paymentStatus" class="form-select">
                            <option value="" selected></option>
                            <option value="Paid">Paid</option>
                            <option value="Not Paid">Not Paid</option>
                        </select>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <%}%>
        <!-- Section 3 Ends Here  -->

        <!-- Form Button Section  -->
        <section class="func-buttons mt-4 mb-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group float-end">
                            <button class="btn btn-primary text-white mb-0 me-0" style="width: 100px">Save</button>
                            <a href="/home" class="btn btn-danger text-white mb-0 me-0">Cancel</a>
                        </div>
                    </div>
                </div>
                <hr style="border: 1px solid #007BFF">
            </div>
        </section>
        <!-- Form Button Section Ends Here  -->

    </form>

    <!-- Form Ends here -->


<%- include('../partials/footer1.ejs')%>