<%- include('../partials/header1.ejs') %>



<div class="container-scroller">
    
    <%- include('../partials/nav.ejs') %>
      
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
      
    
      <%- include('../partials/sidebar1.ejs') %>

      <%- include('../partials/main-panel-start.ejs') %>

      <div class="card-body">
        <div class="d-sm-flex justify-content-between align-items-start">
          <div>
            <h4 class="card-title card-title-dash">Get Interview Details</h4>
            <p class="card-subtitle card-subtitle-dash">Details</p>
          </div>
        </div>
        <form action="/interviews/create-interview" method="POST">
            <section id="interview-details">
                
                <div class="container">
                    <div class="row mt-5">
        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recordID">1. Select the Record ID for creating an interview</label>
                                <select style="overflow:scroll;" name="recordID" id="" class="form-select">
                                    <option value="" selected></option>
                                    <% records.slice().reverse().forEach(record =>{%>
                                        <option value="<%= record.reqID%>"><%= record.reqID %> - <%= record.vendorCompany%> - <%= record.primeVendorCompany%> - <%= record.clientCompany%> </option>
                                    <%})%>
                                </select>
                            </div>
                        </div>
        
                    </div>
                    <button type="submit" class="btn btn-primary text-white mb-0 me-0">Submit</button>
                </div>
        
            </section>
        </form>
        
      </div>


<%- include('../partials/main-panel-end.ejs') %>


<%- include('../partials/footer1.ejs')%>