<%- include('../partials/header1.ejs') %>

  <div class="container script_container">
    <div class="p-3 mb-2 bg-info text-white text-center">
      <strong>INT_ID </strong>: <span><u>
          <%=interview.intId%>
        </u></span>
      <span class="pr-5 pl-5 text-black">| | </span>
      <strong class="pe-2">FULL LEGAL NAME:</strong>
      <u class="color-black">
        <%= consultant.consultantName.toUpperCase()%>
      </u>
      <button class="btn btn-primary btn-sm float-end print-button" onclick="window.print()">
        Print PDF
      </button>
    </div>

    <hr style="border: 1px solid black" />

    <!-- {section 1} -->
    <div class="d-flex">
      <ul class="list-group rounded-0 w-25">
        <li class="list-group-item list-group-item-secondary border-right-0"><strong>Candidate First Name</strong></li>
        <li class="list-group-item list-group-item-secondary border-right-0"><strong>Candidate Last Name</strong></li>
        <li class="list-group-item list-group-item-secondary border-right-0"><strong>Candidate Location</strong></li>
        <li class="list-group-item list-group-item-secondary border-right-0"><strong>Candidate Number</strong></li>
        <li class="list-group-item list-group-item-secondary border-right-0"><strong>Candidate Email</strong></li>
        <li class="list-group-item list-group-item-secondary border-right-0"><strong>Candidate Skype Id</strong></li>
        <li class="list-group-item list-group-item-secondary border-right-0"><strong>Current Visa Status /
            Citizenship</strong></li>
        <li class="list-group-item list-group-item-secondary border-right-0"><strong>Education</strong></li>
        <li class="list-group-item list-group-item-secondary border-right-0"><strong>DOB DOB(MM-DD-YYYY):</strong>
        </li>
        <li class="list-group-item list-group-item-secondary border-right-0"> <strong class="pe-2">SSN (Last 4
            Digits):</strong>
          <%= consultant.ssn%>
        </li>
      </ul>
      <ul class="list-group rounded-0 w-50">
        <li class="list-group-item border-left-0">
          <%= consultant.consultantName.toUpperCase()%>
        </li>

        <% if(consultant.consultantName){ %>
          <li class="list-group-item border-left-0">
            <%= consultant.consultantName.toUpperCase()%>
          </li>
          <% } else{ %>
            <li><span>-</span></li>
            <% } %>
              <li class="list-group-item border-left-0">
                <%= consultant.currentAddress.toUpperCase()%>
              </li>
              <li class="list-group-item border-left-0">
                <%= consultant.phone%>
              </li>
              <li class="list-group-item border-left-0">
                <%= consultant.email%>
              </li>
              <li class="list-group-item border-left-0">
                <%= consultant.skypeId%>
              </li>
              <li class="list-group-item border-left-0">
                <%= consultant.visaStatus.toUpperCase()%>
              </li>
              <li class="list-group-item border-left-0">
                <%= consultant.degree.toUpperCase()%>
              </li>
              <li class="list-group-item border-left-0">
                <%= consultant.dob.toLocaleDateString('en-US', {timeZone: 'UTC' })%>
              </li>
              <li class="list-group-item border-left-0">
                <%= consultant.ssn%>
              </li>

      </ul>
    </div>


    <!-- {section 2} -->
    <hr style="border: 1px solid black" />

    <div class="d-flex mt-5 mb-5">
      <ul class="list-group rounded-0 w-100">
        <li class="list-group-item  border-right-0">
          <strong>When did he came to US: </strong>
          <%= consultant.cameToUsYear%>
        </li>

        <li class="list-group-item  border-right-0">
          <strong>How did he came to US : </strong>
          <%= consultant.getVisa%>
        </li>

        <li class="list-group-item  border-right-0">
          <strong>When did he got USC: </strong>
          <%= consultant.getVisa%>
        </li>
      </ul>
    </div>


    <!-- {section 3} -->
    <hr style="border: 1px solid black" />

    <div class="d-flex mt-5 mb-5">
      <table class="table table-bordered">
        <thead>
          <tr style="background-color: #f8f9fa;">
            <th scope="col">Sr No.</th>
            <th scope="col">Over All experience at a glance</th>
            <th scope="col">Location</th>
            <th scope="col">Dates</th>

          </tr>
        </thead>
        <tbody>
          <% projects.forEach((project,i)=>{%>
            <tr>
              <th scope="row">
                <%= i +1%>
              </th>
              <td colspan="1">
                <%= project.name%>
              </td>
              <td>
                <strong> City:</strong>
                <%= project.city%>
                  <br />
                  <strong> State:</strong>
                  <%= project.state%>
              </td>
              <td>
                <%= project.startDate%>
                  -
                  <%= project.endDate%>
              </td>
            </tr>
            <%})%>
        </tbody>
      </table>
    </div>


    <!-- {section 4} -->

    <h4 class="fw-bold">CONSULTANT'S EXPERIENCE</h4>
    <hr style="border: 1px solid black" />

    <div class="row p-3">
      <% projects.forEach((project,i)=>{%>
        <h5 class="fw-bold">PROJECT <%= i +1%>
        </h5>
        <hr style="border: 1px solid black; width: 300px" />
        <ul>
          <li class="pb-3">
            <strong class="pe-2">CLIENT NAME:</strong>
            <%= project.name%>
          </li>
          <li class="pb-3">
            <strong class="pe-2">CITY:</strong>
            <%= project.city%>
          </li>
          <li class="pb-3">
            <strong class="pe-2">STATE:</strong>
            <%= project.state%>
          </li>
          <li class="pb-3">
            <strong class="pe-2">PROJECT START DATE:</strong>
            <%= project.startDate%>
          </li>
          <li class="pb-3">
            <strong class="pe-2">PROJECT END DATE:</strong>
            <%= project.endDate%>
          </li>
          <li class="pb-3">
            <strong class="pe-2">PROJECT DESCRIPTION:</strong>
            <%= project.description%>
          </li>
        </ul>
        <%})%>
    </div>

    <!-- {section 5} -->
    <hr style="border: 1px solid black" />
    <div class="row p-3">
      <ul>
        <li class="pb-2">
          <strong class="pe-2">ABOUT INTERVIEW:</strong>
          <%= interview.subjectLine.toUpperCase()%>
        </li>
        <li class="pb-3 interview-link" style="overflow-wrap: break-word">
          <strong>INTERVIEW LINK:</strong>
          <a href="<%= interview.interviewLink%>">
            <%= interview.interviewLink%>
          </a>
        </li>
        <li class="pb-3">
          <strong class="pe-2">INTERVIEW FOCUS:</strong>
          <%= interview.interviewFocus.toUpperCase()%>
        </li>
        <li class="pb-3" style="white-space: pre">
          <strong class="pe-2">INTERVIEWER DETAILS:</strong>
          <%= interview.interviewMode%>
        </li>
        <li class="pb-3">
          <strong class="pe-2">PRIME VENDOR NAME:</strong>
          <%= record.primeVendorCompany.toUpperCase()%>
        </li>
        <li class="pb-3">
          <strong class="pe-2">VENDOR NAME:</strong>
          <%= record.vendorCompany%>
        </li>
        <li class="pb-3">
          <strong class="pe-2">CLIENT NAME:</strong>
          <%= record.clientCompany%>
        </li>
      </ul>
    </div>

    <!-- {section 6} -->
    <hr style="border: 1px solid black" />
    <div class="row p-3">
      <ul>
        <li class="pb-3" style="white-space: pre">
          <strong class="pe-2">JOB ROLE:</strong>
          <%= record.jobDescription%>
        </li>
        <li class="pb-3">
          <strong class="pe-2">TECHNICAL SKILLS REQUIRED:</strong>
          <%= record.reqKeywords%>
        </li>
      </ul>
    </div>
  </div>


  <%- include('../partials/footer1.ejs')%>
